@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Flash Display";
  src: url("/fonts/Flash Display.woff2") format("woff2"),
       url("/fonts/Flash Display.woff") format("woff");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FS Numbers";
  src: url("/fonts/FS Numbers.woff2") format("woff2"),
       url("/fonts/FS Numbers.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #001E28;
  --foreground: #EEEEEE;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "FS Numbers", Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
